// Базовый шрифт для всего текста
$font-family-base: "Manrope", sans-serif;
$font-color: #1e1e1e;

$footer-bg: #1e1e1e;

// Ширина контейнера
$max-width: 1240px;

$main-color: #D3991A;
$dark-color: #1e1e1e;
$wa-color: #39b400;
$red-color: #F64040;

// Анимация
$transition-fast: background-color 0.2s ease, color 0.2s ease;
$transition-default: background-color 0.3s ease, color 0.3s ease;
$transition-slow: background-color 0.5s ease, color 0.5s ease;
