@use "../base/variables" as *;

.blog-page {
    padding-top: 1.875rem; // 30px

    @media (max-width: 48rem) {
        // 768px
        padding-top: 1rem 0; // 16px
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem; // 40px

        @media (max-width: 56.25rem) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25rem; // 20px
        }

        @media (max-width: 48rem) {
            // 768px
            grid-template-columns: auto;
            gap: 1.5rem; //24px
        }
    }
}
