@use "../base/variables" as *;
@use "../utils/mixins" as *;

.product {
    display: flex;
    flex-direction: column;

    &__wrapper {
        padding-top: 2.5rem !important; // 40px
        display: flex;
        justify-content: space-between;
        column-gap: 2.5rem; // 40px
        width: 100%;

        [data-splide="main-image"] {
            @media (max-width: 64rem) {
                // 1024px
                display: none;
            }
        }

        @media (max-width: 64rem) {
            // 1024px
            flex-wrap: wrap;
            padding-top: 1rem !important; // 16px
            order: 1;
        }
    }

    &__label {
        font-size: 0.875rem; // 14px
        line-height: 1.1875rem; // 19px
        color: #6d6d6d;
        margin-bottom: 0.5rem; // 8px
        display: block;
    }

    &__media {
        display: flex;
        gap: 1rem; // 16px
        height: max-content;

        @media (max-width: 64rem) {
            // 1024px
            flex-direction: column;
            width: calc(100% + 2rem); // 32px
            margin: 0 -1rem 0 -1rem; // 16px
        }
    }

    &__options {
        display: flex;
        column-gap: 3.125rem; // 50px
        align-items: flex-end;

        @media (max-width: 28.125rem) {
            // 450px
            column-gap: 2rem; // 32px
        }
    }

    &__thumbnails-list {
        display: flex;
        flex-direction: column;
        gap: 1rem; // 16px
        max-height: 29.75rem; // 476px

        @media (max-width: 64rem) {
            // 1024px
            flex-direction: row;
            width: 100%;
        }
    }

    &__thumbnail {
        width: 6.6875rem; // 107px
        height: auto;
        border-radius: 0.5rem; // 8px
        flex-shrink: 0;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.3s ease;

        /* Активная миниатюра */
        &.is-active {
            opacity: 1;
        }

        @media (max-width: 64rem) {
            // 1024px
            max-width: 18.1875rem; // 291px
            min-height: 16.5rem; // 264px
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
        }
    }

    &__features {
        justify-content: flex-start;
        column-gap: 2rem; // 32px
    }

    &__thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__main-media {
        position: relative;
        max-width: 32.875rem; // 526px
        height: 29.75rem; // 476px

        @media (max-width: 64rem) {
            // 1024px
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    &__main-media .splide__track {
        height: 100%;
    }

    &__main-item {

        /* Активный слайд в главном слайдере */
        &.is-active {
            opacity: 1;
            /* Делаем активный слайд видимым */
            z-index: 1;
            /* Активный слайд на переднем плане */
        }

        /* Скрываем неактивные слайды */
        &:not(.is-active) {
            z-index: 0;
            opacity: 0;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem; // 8px
    }

    &__details {
        flex-grow: 1;
        background: #f5f5f5;
        border-radius: 0.5rem; // 8px
        padding: 2rem; // 32px
        flex-direction: column;
        display: flex;
        gap: 1rem;

        @media (max-width: 64rem) {
            // 1024px
            padding: 1.5rem; // 24px
            margin-top: 80px;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        column-gap: 1.5rem; // 24px

        @media (max-width: 28.125rem) {
            // 450px
            flex-direction: column;
            row-gap: 0.5rem; // 8px
        }
    }

    &__action {
        flex: 1;

        @media (max-width: 28.125rem) {
            // 450px
            width: 100%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 1.125rem; // 18px
        line-height: 1.5625rem; // 25px
        color: $font-color;
        align-self: flex-end;
    }

    &__features {
        dt {
            font-size: 0.875rem; // 14px
        }
    }

    &__total {
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        color: $font-color;
    }

    &__price {
        font-weight: 700;
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        color: $font-color;
    }

    &__select {
        background-color: #f5f5f5;
        width: 9rem; // 144px

        @media (max-width: 28.125rem) {
            // 450px
            width: max-content;
        }
    }

    &__badge {
        position: absolute;
        top: 2rem; // 32px
        left: 2rem; // 32px
        background-color: #b93c3c;
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        padding: 0.375rem 1.5rem; // 6px 24px
        height: 2.8125rem; // 45px
        z-index: 3;

        @media (max-width: 40.625rem) {
            // 650px
            top: 1rem; // 16px
            left: 1rem; // 16px
        }
    }

    &__unit {
        background-color: #f5f5f5;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;
        /* 10px */
    }

    &__right-header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__designer-info,
    &__conditions-btn {
        font-weight: 600;
        font-size: 0.875rem;
        /* 14px */
        line-height: 1.1875rem;
        /* 19px */
        color: #6D6D6D;
        text-align: right;
    }

    &__conditions-btn {
        text-decoration-line: underline;
    }


    .splide__arrow {
        border: none;
        width: 2.5rem; // 40px
        height: 2.5rem;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        background-color: transparent;
        transition: background-color 0.3s ease, transform 0.2s ease;

        @media (max-width: 64rem) {
            // 1024px
            width: 0.9375rem; // 15px
            transform: translateX(0);
        }

        &--next,
        &--prev {
            @media (min-width: 64rem) {
                left: 50%;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        &--next {
            top: calc(100% - 2rem); // 32px

            @media (max-width: 64rem) {
                // 1024px
                top: calc(100% + 1.25rem); // 20px
                right: 1rem;
            }

            &::before {
                background-image: url("../assets/icons/splide-arrow-thumbnails-next.svg");

                @media (max-width: 64rem) {
                    // 1024px
                    background-image: url("../assets/icons/arrow-next.svg");
                }
            }
        }

        &--prev {
            top: -0.5rem; // 8px

            @media (max-width: 64rem) {
                // 1024px
                top: calc(100% + 1.25rem); // 20px
                left: 1rem;
            }

            &::before {
                background-image: url("../assets/icons/splide-arrow-thumbnails-prev.svg");

                @media (max-width: 64rem) {
                    // 1024px
                    background-image: url("../assets/icons/arrow-prev.svg");
                }
            }
        }

        &:hover {
            transform: translateX(-50%) scale(1.1);

            @media (max-width: 64rem) {
                // 1024px
                transform: scale(1.1);
            }
        }

        &:active {
            transform: translateX(-50%) scale(0.9);

            @media (max-width: 64rem) {
                // 1024px
                transform: scale(0.9);
            }
        }
    }

    .splide__pagination {
        display: none;

        @media (max-width: 64rem) {
            // 1024px
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: calc(100% + 1.9rem); // 30px
            transform: translateX(-50%);
            width: 100%;
            height: 1.125rem; // 18px
            z-index: 1;

            li {
                &:not(:last-child) {
                    margin-right: 0.5rem; // 8px
                }

                display: flex;
                flex: 0 0 1.125rem; // 18px

                button {
                    width: 1.125rem; // 18px
                    height: 1.125rem; // 18px
                    border: none;
                    cursor: pointer;
                    background: #bbbbbb;
                    border-radius: 50%;

                    &.is-active {
                        background: $main-color;
                    }
                }
            }
        }
    }
    &__video {
        margin-top: 5rem; // 80px
        @media (max-width: 84.375rem) {
            // 1350px
            margin-top: 1.5rem; // 24px
        }
    }
}

.product-info {

    @media (max-width: 64rem) {
        // 1024px
        order: 2;
    }

    &__title {
        font-size: 1.5rem; // 24px
        margin-bottom: 1rem; // 16px
    }

    &__details {
        display: flex;
        gap: 1.5rem; // 24px
        padding: 0.5rem 0 1.5rem; // 8px 0 24px


        @media (max-width: 64rem) {
            // 1024px
            padding: 0.5rem 0 0; // 8px 0 0
            justify-content: space-between;
        }
    }

    &__availability-stock {
        display: flex;
        align-items: center;
        column-gap: 1.5rem; // 24px


        @media (max-width: 64rem) {
            // 1024px
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
        }
    }

    &__detail {
        font-size: 1.125rem; // 18px
        line-height: 1.5625rem; // 25px
        color: #34a400;
    }

    &__label,
    &__value {
        font-size: 1.125rem; // 18px
        line-height: 1.5625rem; // 25px
        color: #6d6d6d;
    }

    &__detail--stock {
        font-size: 1.125rem; // 18px
        line-height: 1.5625rem; // 25px
        color: #2024ff;
    }

    &__divider {
        width: 100%;
        height: 0.0625rem; // 1px
        background-color: #6d6d6d;


        @media (max-width: 64rem) {
            // 1024px
            display: none;
        }
    }
}

.material {
    margin-top: 5rem; // 80px


    @media (max-width: 64rem) {
        // 1024px
        order: 2;
    }

    @media (max-width: 56.25rem) {
        // 900px
        margin-top: 1rem; // 16px
    }

    &__title {
        font-weight: 600;
        font-size: 2rem; // 32px
        line-height: 2.75rem; // 44px
        color: $font-color;
        margin-bottom: 2rem; // 32px

        @media (max-width: 56.25rem) {
            // 900px
            margin-top: 1rem; // 16px
            margin-bottom: 1rem; // 16px
        }
    }

    .material__content {
        font-size: 1rem; // 16px
        line-height: 1.5;
    }

    &__text {
        font-size: 1rem; // 16px
        line-height: 1.375rem; // 22px
        color: $font-color;

        &:not(:last-child) {
            margin-bottom: 1rem; // 16px
        }
    }
}

.product-description {
    margin-top: 2rem; // 32px

    @media (max-width: 56.25rem) {
        // 900px
        margin-top: 1rem; // 16px
    }


    @media (max-width: 64rem) {
        // 1024px
        order: 3;
    }

    &__container {
        display: flex;
        gap: 3.125rem; // 50px

        @media (max-width: 56.25rem) {
            // 900px
            gap: 1rem; // 16px
            flex-wrap: wrap;
        }
    }

    &__tabs {
        width: 100%;
    }

    &__image {
        width: 100%;
        padding-top: 4.6875rem; // 75px

        @media (max-width: 56.25rem) {
            // 900px
            flex: auto;
            padding-top: 0;
        }
    }

    &__image-element {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem; // 8px
    }
}
