.advantages {
    margin: 4.375rem 0 4.375rem; // 70px

    @media (max-width: 48rem) {
        // 768px
        margin: 3rem 0 3rem; // 48px
    }

    &__title {
        font-weight: 700;
        font-size: 2rem; // 32px
        line-height: 2.75rem; // 44px
        color: #000000;
        margin-bottom: 2rem; // 32px
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem; // 40px
        margin-bottom: 1.875rem; // 30px

        @media (max-width: 64rem) {
            // 1024px
            grid-template-columns: auto;
            gap: 1.5rem; // 24px
        }
    }

    &__footer {
        display: flex;
        gap: 6.25rem; // 100px
        justify-content: space-between;
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        color: #000000;

        @media (max-width: 48rem) {
            // 768px
            flex-wrap: wrap;
            gap: 1rem; // 16px
            font-size: 1rem; // 16px
            line-height: 1.375rem; // 22px
        }
    }

    &__button {
        height: max-content;

        @media (max-width: 48rem) {
            // 768px
            width: 100%;
        }
    }
}

.advantage {
    transition: box-shadow 0.3s ease;
    display: flex;
    padding: 2.5rem 2rem; // 40px 32px
    background: #F5F5F5;
    border-radius: 1rem; // 16px
    gap: 1.5rem; // 24px

    @media (max-width: 34.375rem) {
        // 550px
        flex-wrap: wrap;
    }

    &:hover {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); // 0 4px 8px
    }

    &__icon {
        width: 3.125rem; // 50px
        height: 3.125rem; // 50px
        flex-shrink: 0;
    }

    &__image {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    &__title {
        margin-bottom: 0.5rem; // 8px
        font-weight: 700;
        font-size: 2rem; // 32px
        line-height: 2.75rem; // 44px
        color: #000000;
    }

    &__text {
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        color: #000000;

        @media (max-width: 48rem) {
            // 768px
            font-size: 1rem; // 16px
            line-height: 1.375rem; // 22px
        }
    }
}
