@use "../base/variables" as *;

.fixed-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $dark-color;
    z-index: 10;
    width: 100%;
    height: max-content;
    box-shadow: 1.25rem 0 3.125rem rgba(159, 159, 159, 0.25);
    /* box-shadow: 20px 0px 50px */

    @media (min-width: 64rem) {
        /* 1024px */
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        padding: 0.3125rem 0;
        /* padding: 5px 0 */
    }

    &__button,
    &__link {
        font-size: 0.75rem;
        /* font-size: 12px */
        line-height: 1rem;
        /* line-height: 16px */
        color: #fff;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        /* row-gap: 8px */
        padding: 0;
        justify-content: flex-end;
        align-items: center;
    }

    &__icon {
        background-image: url("../assets/icons/contacts-wa.svg");
        width: 1.5625rem;
        /* width: 25px */
        height: 1.5625rem;
        /* height: 25px */
        background-size: 100%;
    }
}
