@use "../base/variables" as *;

.card {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border: 0.03125rem solid #d6d6d6; // 0.5px
    border-radius: 0.5rem; // 8px
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: 48rem) {
        // 768px
        width: 11.875rem; // 190px
    }

    &__figure {
        width: 100%;
        height: 11.5625rem; // 185px

        @media (max-width: 48rem) {
            // 768px
            height: 8.4375rem; // 135px
            width: 11.875rem; // 190px
        }
    }

    &__splide-inner {
        gap: 0.625rem; // 10px
    }

    &__img {
        border-radius: 0.5rem 0.5rem 0 0; // 8px 8px 0
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }

    &__aside {
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem 0.75rem 1.5rem; // 16px 12px 24px
        height: 100%;

        @media (max-width: 75rem) {
            // 1200px
            padding: 0.625rem 1rem 0.75rem 1rem; // 10px 12px 16px
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;
        margin-top: 0.75rem; // 12px
    }

    &__title {
        font-weight: 600;
        font-size: 1.125rem; // 18px
        line-height: 1.5625rem; // 25px
        color: $font-color;

        @media (max-width: 75rem) {
            // 1200px
            font-size: 1rem;
        }
    }

    &__sku {
        font-size: 0.875rem; // 14px
        line-height: 1.1875rem; // 19px
        color: #6d6d6d;
        margin-top: 0.5rem; // 8px 0 12px
    }

    &__info {
        display: block;
        font-weight: 600;
        font-size: 0.75rem; // 12px
        line-height: 1rem; // 16px
        color: #34a400;
        margin-bottom: 0.3125rem; // 5px
    }

    &__current-price {
        font-weight: 500;
        font-size: 2.25rem; // 36px
        color: $red-color;
        white-space: nowrap;

        &--sale {
            color: #34A400;
        }

        @media (max-width: 48rem) {
            // 768px
            font-size: 1.6rem;
        }
    }

    &__price-container {
        display: inline-flex;
        align-items: center;
        gap: 0.375rem; // 6px

        @media (max-width: 26.5625rem) {
            // 425px
            flex-wrap: wrap;
        }
    }

    &__price-unit {
        font-weight: 600;
        font-size: 0.75rem; // 12px
        line-height: 1rem; // 16px
        color: #6d6d6d;
        display: block;
        white-space: nowrap;
    }

    &__old-price {
        font-weight: 500;
        font-size: 1rem; // 16px
        line-height: 1.375rem; // 22px
        text-decoration-line: line-through;
        color: $red-color;
        display: block;
        white-space: nowrap;
    }

    &__actions {
        margin-top: 1rem; // 16px
        display: flex;
        flex-direction: column;
        gap: 0.5rem; // 8px
    }

    &__btn {
        width: 100%;
    }

    &__btn-text-hide {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__color-wrapper {
        display: flex;
        align-items: center;
        gap: 0.625rem; // 10px
    }

    &__color {
        width: 1.8125rem; // 29px
        height: 1.8125rem; // 29px
        border-radius: 0.25rem; // 4px
        flex-shrink: 0;
    }

    &__badge {
        position: absolute;
        top: 0.75rem; // 12px
        left: 1rem;
    }

    &__btn-show {
        grid-column: span 3;
        margin: 0 auto;
        height: max-content;

        @media (max-width: 75rem) {
            // 1200px
            margin-top: 0.5rem; // 8px
        }

        @media (max-width: 48rem) {
            // 768px
            grid-column: span 2;
        }

        @media (max-width: 21.875rem) {
            // 350px
            grid-column: span 1;
        }
    }

    &--show-all &__actions {
        margin-top: 2rem;
    }

    &--show-all &__content {
        padding: 1.5rem;

        @media (max-width: 75rem) {
            // 1200px
            padding: 0.625rem 1rem 1rem; // 10px 12px 16px
        }
    }
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; // 40px
    height: max-content;

    @media (max-width: 75rem) {
        // 1200px
        gap: 1rem;
    }

    @media (max-width: 48rem) {
        // 768px
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        .card {
            width: auto;

            &__figure {
                width: 100%;
            }
        }
    }

    @media (max-width: 21.875rem) {
        // 350px
        grid-template-columns: 1fr;
    }
}
