.materials {

    margin-top: 5rem; // 80px
    @media (max-width: 84.375rem) {
        // 1350px
        margin-top: 1.5rem; // 24px
    }

    &__body {
        display: flex;
        column-gap: 2.5rem; // 40px

        @media (max-width: 61.875rem) {
            // 990px
            flex-wrap: wrap;
            row-gap: 1rem;
        }
    }

    &__text {
        font-size: 1.5rem; // 24px
        line-height: 2.0625rem; // 33px
        color: #000000;
        flex: 1;

        @media (max-width: 61.875rem) {
            // 990px
            flex: auto;
            font-size: 1rem;
            line-height: 22px;
        }
    }

    &__description {
        &:not(:last-child) {
            margin-bottom: 1rem; // 16px

            @media (max-width: 61.875rem) {
                // 990px
                margin-bottom: 8px;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 2rem; // 32px
        line-height: 2.75rem; // 44px
        color: #000000;
        margin-bottom: 2rem; // 32px

        @media (max-width: 61.875rem) {
            // 990px
            line-height: 2.5rem; // 40px
            margin-bottom: 1rem; // 16px
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @media (max-width: 61.875rem) {
            // 990px
            flex: auto;
            gap: 1rem;
        }
    }

    &__image {
        width: 100%;
        border-radius: 0.5rem; // 8px
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
