@use "../base/variables" as *;

.reviews {

    padding-top: 5rem; // 80px

    @media (max-width: 84.375rem) {
        // 1350px
        padding-bottom: 5rem; // 80px
    }

    @media (max-width: 48rem) {
        // 768px
        padding-top: 2rem; // 32px
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem; // 32px

        @media (max-width: 48rem) {
            // 768px
            margin-bottom: 1rem; // 16px
        }
    }

    &__title {
        font-size: 2rem; // 32px
        font-weight: 700;
    }

    &__carousel {
        position: relative;
    }

    &__slide {
        flex: auto;
        flex-shrink: 0;
        overflow: hidden;
    }

    &__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #f5f5f5;
        border-radius: 0.5rem; // 8px
    }

    &__image {
        width: 100%;
        height: 15.625rem; // 250px
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 0.5rem; // 8px
    }

    &__text {
        font-size: 1.1rem; // 17px
        line-height: 1.3; // 33px
        color: $font-color;
        padding: 1.5rem 2rem; // 24px 32px
        flex: 1;

        @media (max-width: 48rem) {
            // 768px
            padding: 1.5rem 1.5rem 1rem 1.5rem; // 24px 24px 16px 24px
        }

        @media (max-width: 28.125rem) {
            // 450px
            font-size: 1rem; // 16px;
            line-height: 1.3;
            padding: 1rem; // 16px
        }
    }

    &__footer {
        padding: 0 2rem 2.3125rem 2rem; // 0 32px 37px 32px
        display: flex;
        flex-direction: column;
        gap: 0.25rem; // 4px
        background: #f8f8f8;
        font-size: 0.875rem; // 14px
        color: #666;

        @media (max-width: 48rem) {
            // 768px
            padding: 0 1.5rem 2rem 1.5rem; // 0 24px 32px 24px
        }

        @media (max-width: 28.125rem) {
            // 450px
            padding: 0 1rem 1rem; // 0 16px
        }
    }

    &__author {
        font-size: 1rem;
        color: $font-color;
    }

    &__location {
        font-size: 0.9rem;
        line-height: 1;
    }

    .splide__pagination {
        display: none;

        @media (max-width: 84.375rem) {
            // 1350px
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: calc(100% + 1.9rem); // 30px
            transform: translateX(-50%);
            width: 100%;
            height: 1.125rem; // 18px
            z-index: 1;

            li {
                &:not(:last-child) {
                    margin-right: 0.5rem; // 8px
                }

                display: flex;
                flex: 0 0 1.125rem; // 18px

                button {
                    width: 1.125rem; // 18px
                    height: 1.125rem; // 18px
                    border: none;
                    cursor: pointer;
                    background: #bbbbbb;
                    border-radius: 50%;

                    &.is-active {
                        background: $main-color;
                    }
                }
            }
        }
    }
}
