.video-block {
    &__iframe {
        border-radius: 1rem;
        height: 35rem;
        /* 560px */
        width: 100%;

        @media (max-width: 48rem) {
            // 768px
            height: 28.125rem;
            /* 450px */
        }

        @media (max-width: 40.625rem) {
            // 650px
            height: 15.625rem;
            /* 250px */
        }
    }
}
